<div class="post-description">
      <span>{{description}}</span>

      <div class="tags-container">
            <p id="tags" class="{{#each classtag}}{{classtag }} {{/each}}">{{#each tag}}<a href="{{taglink}}">#{{tag}}</a>{{/each}}</p>
      </div>

</div>