<div class="post-actions">
      <img src="../elements/forum_icons.png" class="upvote" />
      <span class="vote-count">{{votes}}</span>
      <img src="../elements/forum_icons.png" class="downvote" />
</div>