<body>
    {{> sidebar}}

    <div id="forum-page-container">
            <div id="forum-page-header">
                <span>FORUMS | Search Results</span>
            </div>
            <div id="forum-body">
                {{#if items}}
                    {{#each items}}
                        {{> forumpost}}
                    {{/each}}
                
                {{else}}
                    <div id="error-page">
                        <p>No results</p>
                    </div>
                {{/if}}
            </div>
    </div>
</body>