<body>
    {{> sidebar}}
        <div id="home-page-container">
            <div id="game-page-header">
                <span>GENRES</span>
            </div>
            <div id="trending-games" class="home-pages">
                <p>Role Playing Games</p>
                <div class="games">
                    <a href="/page/eldenring"><img class="game-logo" src="../elements/eldenring.jpg" /></a>
                </div>
            </div>
            <div id="trending-games" class="home-pages">
                <p>Shooters</p>
                <div class="games">
                    <a href="/page/valorant"><img class="game-logo" src="../elements/valorant.jpg" /></a>
                    <a href="/page/apexlegends"><img class="game-logo" src="../elements/apex.jpg" /></a>
                    <a href="/page/fortnite"><img class="game-logo" src="../elements/fortnite.jpg" /></a>
                </div>
            </div>
        </div>    
</body>