<head>
      <script type="text/javascript" src="/js/editprofile.js"></script>
</head>
<body>
      {{> sidebar}}

      <div id="user-page-container">
      <div id="user-page-header">
            <span>USER PROFILE</span>
      </div>
      <div id="user-page-body">
            <div id="user-info">
                  <div id="user-profile">
                        {{#if picture}}
                        <img src="/elements/{{picture}}" alt="Profile Picture" id="user-picture">
                        {{else}}
                        <img src="/elements/default-profile.jpg" alt="Profile Picture" id="user-picture">
                        {{/if}}
                        <hr>

                        <div class="upload-image-div" id="upload-image-div">
                              <input type="file" id="uploaded-image" accept="image/png, image/jpg">
                        </div>

                        <p id="username">{{username}}</p>
                  </div>

                  <div id="user-description">
                        <p>About</p>
                        <div id="description-box">
                              <p id="description-text">
                              {{profileDesc}}
                              </p>
                        </div>
                  </div>

                  <div class="edit-button">
                        <button id="editBtn" type="button">Edit Profile</button>
                  </div>

                  <div class="edit-text">
                        <p id="editText"></p>
                  </div>
      
            </div>

            <div id="user-activities">
                  <div class="user-tabs post">
                  <div class="user-tabs-title">
                        <span>Recent Posts</span>
                        <a href="">view all...</a>      
                  </div>

                  {{#each recentpost}}
                        {{> recentpost this}}
                  {{/each}}

                  </div>

                  <div class="user-tabs comments">
                  <div class="user-tabs-title">
                        <span>Comments</span>
                        <a href="">view all...</a>
                              
                  </div>
                  {{#each recentcomment}}
                        {{>recentcomment this}}
                  {{/each}}
                  </div>

            </div>
      </div>
      </div>        
</body>