body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(120deg, rgb(80, 87, 89), rgb(51, 240, 240));

    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color : white;
    border-radius: 10px;
    width: 400px;
    height: 550px;
}

.registration-form{
    background-color : white;
    border-radius: 10px;
    width: 550px;
    height: 500px;
}

.login-form h1, .registration-form h1{
    text-align: center;
    border-bottom: 2px solid silver;

    padding-bottom: 20px;
    margin-bottom: 70px;
}

.login-form form{
    padding: 0px 40px;
}

.registration-form form{
    padding: 0px 60px;
}

.input-field{
    border-bottom: 2px solid gray;
    margin: 20px 0;

    position: relative;
}

.input-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;

    border: none;
    outline: none;
    background: none;
}

.input-field label{
    color: gray;
    pointer-events: none;
    transform: translateY(-8%);
    

    position: absolute;
    
    top: 30%;
    left: 5px;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label{
    color: transparent;
}

.remember-me{
    margin: 30px 0;

    position: relative;
}

.remember-me label{
    position: absolute;
    left: 25px;
    top: -1px;
}

input[type="checkbox"]{
    transform: scale(130%);
}

input[type="submit"]{
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: rgb(51, 240, 240);
    margin: 10px 0;
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    
}

input[type="submit"]:hover{
    transition: 0.2s;
    background-color: rgb(80, 87, 89);
    border: 5px;
}

input[type="submit"]:active{
    background-color: rgb(51, 240, 240);
    transform: scale(105%);
}

.switch-page{
    text-align: center;
    margin: 20px 0;
}

.switch-page a{
    color: rgb(51, 221, 221);
    text-decoration: none;
}